<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="/styleslogin.css">
</head>
<body>
<div class="container">
    <h1>Вхід адміністратора</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Логін" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Увійти</button>
    </form>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
</div>
</body>
</html>